$colorPrimary: #2e2e4a;
$colorSecondary: #464555;
$backgroundColor: #2f2e39;
$backgroundColor2: lighten($backgroundColor, 2%);
$textColor: #d6d6d6;
$linkColor: $textColor;

$navHeight: 4rem;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: $textColor;
  background: $backgroundColor;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  width: 100vw;
  background: $colorPrimary;
  padding: 0 10rem;
  box-shadow: 0 0 10px black;
  display: flex;
  justify-content: space-between;

  ul {
    list-style: none;
    display: flex;
    justify-content: center;

    li {
      height: $navHeight;
      padding: 0 1.5rem;
      display: flex;
      align-items: center;
      text-transform: uppercase;
    }
  }

  &.floating {
    position: fixed;
    z-index: 100;
  }
}

section {
  margin: 1.5rem 0;
}

@for $i from 1 through 6 {
  h#{$i} {
    margin: 1.5rem 0;
  }
}

@for $i from 4 through 6 {
  h#{$i} {
    font-weight: normal;
  }
}

h1 {
  font-size: 2rem;
}

a {
  color: $linkColor;
  text-decoration: none;
}

.main-container {
  padding: 2.5rem 10rem;
  display: flex;
}

.container {
  padding: 1rem;
}

section {
  ul {
    margin-left: 2rem;
  }
}

#left-pane {
  @extend .container;

  flex: 3;
}

#right-pane {
  @extend .container;

  flex: 9;
}

#education-section,
#qualifications-section {
  h3,
  h4 {
    margin: 0;
  }

  li {
    margin: 1rem 0;
  }
}

#projects-gallery-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem 0.5rem;

  article.project {
    border: 1px solid gray;
    border-radius: 0.25rem;
    max-width: calc((100% - 1rem) / 3);
    overflow: hidden;

    header {
      figure {
        height: 150px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    h3,
    p {
      margin: 0.5rem;
    }
  }
}
