$colorPrimary: #2e2e4a;
$colorSecondary: #464555;
$backgroundColor: #2f2e39;
$backgroundColor2: lighten($backgroundColor, 2%);
$textColor: #d6d6d6;
$linkColor: $textColor;
$articleLinkColor: #76b0ae;
$tagColor: #505050;
