@use "_common.scss";
@use "breakpoints.scss" as bp;

#side-pane {
  @extend %container;

  flex: 3;
}

#main-pane {
  @extend %container;

  flex: 9;
}

#about-section {
  p {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

#education-section,
#qualifications-section {
  h3,
  h4 {
    margin: 0;
  }

  li {
    margin: 1rem 0;
  }
}

@include bp.to-lg {
  #main-pane,
  #side-pane {
    flex: 1;
    min-width: 100%;
    padding: 0 1rem;
  }
}
