@use "_variables.scss" as vars;
@use "_common.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: vars.$textColor;
  background: vars.$backgroundColor;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  margin: 3rem 0;
}

article {
  margin: 1.5rem 0;
}

section,
article {
  ul,
  ol {
    margin: -0.5rem 0 -0.5rem 2rem;
    line-height: 1.5rem;
  }

  p {
    margin: 1.5rem 0;
  }

  figure.article-image {
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
    max-width: 450px;

    img {
      max-width: inherit;
    }
  }

  blockquote {
    ul li {
      list-style-type: "—";
      padding-inline-start: 1ch;
      font-style: italic;

      &::before {
        content: "„";
      }

      &::after {
        content: "”";
      }
    }
  }

  .article-gallery {
    margin: 1.5rem 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    figure {
      max-width: 200px;
      a,
      a > img {
        max-width: inherit;
      }
    }
  }
}

figcaption {
  max-width: inherit;
  font-size: 0.8rem;
  font-style: italic;
  color: darken(vars.$textColor, 10%);
}

@for $i from 1 through 6 {
  h#{$i} {
    margin: 1.5rem 0;
  }
}

@for $i from 4 through 6 {
  h#{$i} {
    font-weight: normal;
  }
}

h1 {
  font-size: 2rem;
}

a {
  color: vars.$linkColor;
  text-decoration: none;
}

.main-container {
  padding: 2.5rem 15rem;
  display: flex;
}

.container {
  @extend %container;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: 0.25rem;
  
  .tag {
    @extend %tag;
  
    &-icon {
      margin-right: 0.5rem;
    }
  }
  
}